$c-black = #333
$c-border = #e8e8e8
$c-text = #34495e
$c-text_hover = #e43
$c-light = rgba(69, 90, 100, .6)
$c-grey = #666

$w-nav = 240px
$w-mobile = 360px

$h-header_top = 60px
$h-mobile = 620px

$padding = 40px
$pad-nav_item = 0
$pad-nav_subitem = 20px
